{% extends "layouts/base.html" %}

{% load static i18n wagtailcore_tags wagtailimages_tags navigation_tags %}

{% block title %}
  {% translate "Terminales de Omnibus en Paraguay" %}
{% endblock title %}

{% block content %}
  <div class="container col-12 col-xl-9 mt-3 min-vh-75">
    {% breadcrumbs %}
    <h1 class="fs-2">
      <span class="text-primary text-gradient">{% translate "Ciudades en" %}</span>
      <br />
      {{ page.title }}
    </h1>
    <section class="row row-cols-2 row-cols-md-4">
      {% for city in cities %}
        <div class="col">
          <a href="{% pageurl city %}">{{ city }}</a>
        </div>
      {% endfor %}
    </section>
    <section class="py-3 py-md-5">
      {% include "includes/company-logos.html" %}
    </section>
    <section class="py-3 py-md-5">
      {% include "includes/mission.html" %}
    </section>
  </div>
  {% include 'includes/seo_links.html' %}
{% endblock content %}

{% block footer %}
  {% include "includes/footer-grand.html" %}
{% endblock footer %}

{% block extra_js %}
  {# djlint:off #} <script type="application/ld+json">{{ page.ld_entity }}</script> {# djlint:on #}
{% endblock extra_js %}
