{% load static wagtailcore_tags %}

{% if ancestors %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb text-sm mb-2">
      {% for ancestor in ancestors %}
        {% if forloop.last %}
          <li class="breadcrumb-item active text-dark" aria-current="page">{{ ancestor|truncatechars:15 }}</li>
        {% else %}
          <li class="breadcrumb-item">
            <a href="{% pageurl ancestor %}" class="text-secondary">
              {% if forloop.first %}
                <span>Home</span>
              {% else %}
                {{ ancestor|truncatechars:10 }}
              {% endif %}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ol>
  </nav>
{% endif %}
