{% load static wagtailcore_tags %}

{% if ancestors %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb text-sm mb-2">
      {% for ancestor in ancestors %}
        {% if forloop.last %}
          <li class="breadcrumb-item active d-none d-md-block" aria-current="page">{{ ancestor }}</li>
        {% else %}
          <li class="breadcrumb-item">
            <a href="{% pageurl ancestor %}">
              {% if forloop.first %}
                <span>Home</span>
              {% else %}
                {{ ancestor }}
              {% endif %}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ol>
  </nav>
{% endif %}
