{% extends "layouts/base.html" %}

{% load i18n account %}

{% block title %}
  {% translate "Password Reset" %}
{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
  <div class="container">
    <div class="row vh-100 align-items-center">
      <div class="col-12 col-md-6 col-lg-4 mx-auto">
        <div class="text-center">
          <a href="/" aria-label="{{ site_name }}" class="navbar-brand fs-3">{{ site_name }}</a>
        </div>
        <div class="card card-plain">
          <div class="card-body">
            <h1 class="fs-5 text-center mb-4">{% translate "Password Reset" %}</h1>
            <p class="text-center text-body-secondary small">
              {% translate "Enter Password Reset Code" %}
              {% blocktranslate %}We've sent a code to {{ email }}. The code expires shortly, so please enter it soon.{% endblocktranslate %}
            </p>
            <form method="post" action="{% url 'account_confirm_password_reset_code' %}">
              {% csrf_token %}
              {% for field in form.visible_fields %}
                <div class="mb-3">
                  {{ field.errors }}
                  {{ field }}
                  {{ field.help_text }}
                </div>
              {% endfor %}
              <button type="submit" class="btn btn-primary w-100">{% translate "Confirm" %}</button>
            </form>
            <p class="small text-center mt-3">
              {% translate "Incase of trouble you can" %}
              <a href="/contact/">{% translate "contact us here" %}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block extra_js %}
  <script>
       const add_form_classes = () => {
            const code = document.querySelector('#id_code');
            code.classList.add('form-control');
       }
       document.addEventListener("DOMContentLoaded", add_form_classes);
  </script>
{% endblock extra_js %}
