{% extends "layouts/base.html" %}

{% load i18n account %}

{% block title %}
  {% trans "Log out" %}
{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
  <div class="row">
    <div class="col col-sm-8 col-md-6 col-lg-4 mx-auto">
      <div class="card card-plain">
        <div class="card-header pb-0">
          <h5>Sign Out</h5>
          <p>{% trans "Are you sure you wish to sign out?" %}</p>
        </div>
        <div class="card-body">
          <form action="{% url 'account_logout' %}" role="form" method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-round bg-gradient-primary w-100">Sign Out</button>
          </form>
        <p class="text-sm text-center">
          Go back
          <a href="/">Home</a>
        </p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
