{% extends "layouts/base.html" %}

{% load i18n %}

{% block title %}
  {% trans "Change Password" %}
{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
  <div class="row vh-100">
    <div class="col col-sm-8 col-md-6 col-lg-4 mx-auto">
      <div class="card mt-7">
        <div class="card-header pb-0">
          <h5>
            {% if token_fail %}
              {% trans "Bad Token" %}
            {% else %}
              {% trans "Change Password" %}
            {% endif %}
          </h5>
        </div>
        <div class="card-body">
          {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>
              {% blocktrans %}
            The password reset link was invalid, possibly because it has already been used. Please
            request a <a href="{{ passwd_reset_url }}">new password reset</a>.
            {% endblocktrans %}
            </p>
          {% else %}
            <form method="post" action="{{ action_url }}">
              {% csrf_token %}
              {% for field in form.visible_fields %}
                <div class="mb-3">
                  {{ field.errors }}
                  {{ field }}
                  {{ field.help_text }}
                </div>
              {% endfor %}
              <input type="submit"
                     name="action"
                     class="btn bg-gradient-primary btn-round w-100 mt-4 mb-0"
                     value="{% trans "change password" %}" />
            </form>
          {% endif %}
        </div>
        <div class="card-footer text-center pt-0 px-lg-2 px-1">
          <p class="mb-4 text-sm mx-auto">
            Go back
            <a href="/" class="font-weight-bold">Home</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <script>
       const add_form_classes = () => {
            const password1 = document.querySelector('#id_password1');
            const password2 = document.querySelector('#id_password2');
            password1.classList.add('form-control');
            password2.classList.add('form-control');
       }
       document.addEventListener("DOMContentLoaded", add_form_classes);
  </script>
{% endblock content %}
