{% extends "layouts/base.html" %}

{% load static wagtailcore_tags wagtailimages_tags navigation_tags %}

{% block content %}
  <div class="container pt-7">
    {% breadcrumbs %}
    <section class="py-3 py-md-5">
      <h1 class="fs-2">{{ page.title }}</h1>
    </section>
    <div class="row row-cols-2 row-cols-md-4 mx-2">
      {% for partner in partners %}
        <div class="col p-1">
          <a href="{% pageurl partner %}">{{ partner }}</a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
