{% extends "layouts/base.html" %}

{% load i18n static wagtailcore_tags wagtailimages_tags navigation_tags %}

{% block content %}
  <article class="container col-12 col-xl-9 mt-3 min-vh-75" id="content">
    <h1 class="fs-2">
      <span class="text-primary text-gradient">{% translate "Busca pasajes baratos de micro" %}</span>
      <br />
      {{ page.title }}
    </h1>
    <div class="row">
      <div class="col-6 col-md-4 mx-auto">{% image page.logo original class="img-fluid" loading="lazy" %}</div>
    </div>
    <section class="py-3 py-md-5">

      {% include 'includes/search_form.html' %}

    </section>
    <section class="py-3">
      {% breadcrumbs %}
    </section>
    {% if page.hero_image %}
      <section class="py-3">
        {% picture page.hero_image format-{avif,webp,jpeg} original class="img-fluid shadow-xl border-radius-xl" %}
      </section>
    {% endif %}
    {% if page.body %}
      <section class="pt-3 pt-md-5">
        <h2 class="fs-4 pb-3">{% translate "Comprá tus pasajes con" %} {{ page.title }}</h2>
        {{ page.body }}
      </section>
    {% endif %}
    {% if page.faq %}
      <section class="py-3 py-md-5">
        {{ page.faq }}
      </section>
    {% endif %}
    {% if page.links %}
      <section class="py-3 py-md-5">
        {{ page.links }}
      </section>
    {% endif %}
    <section class="py-3 py-md-5">

      {% include "includes/company-logos.html" %}

    </section>
    <section class="py-3 py-md-5">

      {% include "includes/mission.html" %}

    </section>
  </article>
{% endblock content %}

{% block footer %}

  {% include "includes/footer-grand.html" %}

{% endblock footer %}

{% block extra_js %}
  <script defer src="{% static 'assets/js/autocomplete.min.js' %}"></script>
  <script defer src="{% static 'assets/js/flatpickr.min.js' %}"></script>
  <script defer src="{% static 'assets/js/es.js' %}"></script>
  <script defer src="{% static 'assets/js/search.js' %}"></script>
  {# djlint:off #}
    <script type="application/ld+json">{{ page.ld_entity }}</script>
  {# djlint:on #}
{% endblock extra_js %}
