{% extends "layouts/base.html" %}

{% load static i18n wagtailcore_tags wagtailimages_tags navigation_tags %}

{% block title %}
  {% translate "Empresas de Omnibus en Paraguay" %}
{% endblock title %}

{% block content %}
  <div class="container col-12 col-xl-9 mt-3 min-vh-75">
    <h1 class="fs-2">
      <span class="text-primary text-gradient">{% translate "Busca pasajes baratos de micro" %}</span>
      <br />
      en Paraguay
    </h1>
    <section class="py-3 py-md-5">

      {% include 'includes/search_form.html' %}

    </section>
    <section class="py-3">
      {% breadcrumbs %}
    </section>
    <section class="row row-cols-2 row-cols-md-4 py-3 py-md-5">
      {% for partner in page.children %}
        <div class="col p-1">
          <a href="{% pageurl partner %}">{{ partner }}</a>
        </div>
      {% endfor %}
    </section>
    <section class="py-3 py-md-5">
      <h2 class="fs-5 pb-3">¡Comprá tu pasajes en Ventanita!</h2>
      <p>
        En <a href="https://ventanita.com.py" class="fw-bold">ventanita.com.py</a> podes buscar y
        comparar los mejores precios de micros en Paraguay y paises limitrofes, así como también obtener información detallada sobre las rutas y los horarios de partida. Averigua los promociones vigentes y comience a disfrutar de su viaje sin complicaciones.
      </p>
    </section>
    <section class="py-3 py-md-5">

      {% include "includes/company-logos.html" %}

    </section>
    <section class="py-3 py-md-5">

      {% include "includes/mission.html" %}

    </section>
  </div>
{% endblock content %}

{% block footer %}

  {% include "includes/footer-grand.html" %}

{% endblock footer %}

{% block extra_js %}
  <script defer src="{% static 'assets/js/autocomplete.min.js' %}"></script>
  <script defer src="{% static 'assets/js/flatpickr.min.js' %}"></script>
  <script defer src="{% static 'assets/js/es.js' %}"></script>
  <script defer src="{% static 'assets/js/search.js' %}"></script>
  {# djlint:off #}
    <script type="application/ld+json">{{ page.ld_entity }}</script>
  {# djlint:on #}
{% endblock extra_js %}
