{% extends "layouts/base.html" %}

{% load i18n static wagtailcore_tags wagtailimages_tags navigation_tags %}

{% block content %}
  <article class="container col-12 col-xl-9 mt-3 min-vh-75" id="content">
    <div class="row">
      <div class="col-6 col-md-4 mx-auto">{% image page.logo original class="img-fluid" loading="lazy" %}</div>
    </div>
    <section class="py-3 py-md-5">

      {% include 'includes/search_form.html' %}

    </section>
    <section class="py-3">
      {% breadcrumbs %}
    </section>
    <section class="py-3">
      <h1 class="fs-2">
        <span class="text-primary text-gradient">Comprá tus pasajes en</span>
        <br />
        {{ page.title }}
      </h1>
    </section>
    <section class="py-3 py-md-5">
      <h2 class="fs-5 pb-3">{% translate "About " %}{{ page.title }}</h2>
      <div class="row">
        <div class="col-md-7 rounded-3">{{ page.intro }}</div>
        <div class="col-md-5 rounded-3 my-auto">
          {% image page.hero_image original class="img-fluid rounded-3" loading="lazy" %}
        </div>
      </div>
    </section>
    {% if page.faq %}
      <section class="py-3 py-md-5">
        {{ page.faq }}
      </section>
    {% endif %}
    {% if page.body %}
      <section class="py-3 py-md-5">
        {{ page.body }}
      </section>
    {% endif %}
    {% if page.links %}
      <section class="py-3 py-md-5">
        {{ page.links }}
      </section>
    {% endif %}
    <section class="py-3 py-md-5">
      <h2 class="fs-5 pb-3">{% translate "Empresas destacadas" %}</h2>
      <div class="row align-items-center gy-3">
        <div class="col-4 col-sm-3 col-lg-2">
          <a href="#">
            <img class="img-fluid"
                 loading="lazy"
                 src="{% static 'assets/img/company-logos/logo-nsa.jpg' %}"
                 alt="Logo of Nuestra Senora de la Asunción" />
          </a>
        </div>
        <div class="col-4 col-sm-3 col-lg-2">
          <a href="#">
            <img class="img-fluid"
                 loading="lazy"
                 src="{% static 'assets/img/company-logos/logo-crucero-del-norte.png' %}"
                 alt="Logo of Crucero Del Norte" />
          </a>
        </div>
        <div class="col-4 col-sm-3 col-lg-2">
          <a href="#">
            <img class="img-fluid" loading="lazy" src="{% static 'assets/img/company-logos/logo-sol-bus.png' %}" alt="Logo of Sol Bus" />
          </a>
        </div>
        <div class="col-4 col-sm-3 col-lg-2">
          <a href="#">
            <img class="img-fluid"
                 loading="lazy"
                 src="{% static 'assets/img/company-logos/logo-expreso-paraguay.png' %}"
                 alt="Logo of Expreso Paraguay" />
          </a>
        </div>
        <div class="col-4 col-sm-3 col-lg-3">
          <a href="#">
            <img class="img-fluid"
                 loading="lazy"
                 src="{% static 'assets/img/company-logos/logo-la-santaniana.jpg' %}"
                 alt="Logo of La Santaniana" />
          </a>
        </div>
      </div>
    </section>
    <section class="py-3 py-md-5">
      <h2 class="fs-5 pb-3">{% translate "¿Por que Ventanita?" %}</h2>
      <div class="d-flex">
        <p>
          {% translate "Nuestra misión es brindarles a todos la oportunidad de viajar y mostrarles el mundo. Creemos que todos merecen viajar y que el mundo es un lugar mejor cuando experimentamos, compartimos y construimos una vida a través de nuestras historias." %}
        </p>
      </div>
    </section>
  </article>
{% endblock content %}

{% block footer %}

  {% include "includes/footer-grand.html" %}

{% endblock footer %}

{% block extra_js %}
  <script defer src="{% static 'assets/js/autocomplete.min.js' %}"></script>
  <script defer src="{% static 'assets/js/flatpickr.min.js' %}"></script>
  <script defer src="{% static 'assets/js/es.js' %}"></script>
  <script defer src="{% static 'assets/js/search.js' %}"></script>
  {# djlint:off #}
    <script type="application/ld+json">{{ page.ld_entity }}</script>
  {# djlint:on #}
{% endblock extra_js %}
