{% extends "layouts/base.html" %}

{% load static i18n wagtailcore_tags wagtailimages_tags navigation_tags %}

{% block content %}
  <article class="container">
    {% breadcrumbs %}
    <h1 class="fs-2 mb-0">{% translate "Empresas de Micro" %}</h1>
    {% if page.intro %}<small>{{ page.intro }}</small>{% endif %}
    <section class="row row-cols-1 row-cols-md-4 py-3">
      {% for partner in page.children %}
        <div class="col">
          <a href="{% pageurl partner %}">{{ partner }}</a>
        </div>
      {% endfor %}
    </section>
    {% if page.faq %}
      <section class="py-3" id="faq">
        {{ page.faq }}
      </section>
    {% endif %}
    {% if page.body %}
      <section class="py-3" id="about">
        <div class="row">
          <div class="col-12 col-md-7">{{ page.body }}</div>
        </div>
      </section>
    {% endif %}
    {% if page.links %}
      <section class="py-3">
        {{ page.links }}
      </section>
    {% endif %}
    <section class="py-3">
      {% include "includes/company-logos.html" %}
    </section>
    <section class="py-3">
      {% include "includes/mission.html" %}
    </section>
  </article>
  {% include "includes/seo_links.html" %}
{% endblock content %}

{% block footer %}
  {% include "includes/footer-grand.html" %}
{% endblock footer %}

{% block extra_js %}
  {# djlint:off #}
    <script type="application/ld+json">{{ page.ld_entity }}</script>
  {# djlint:on #}
{% endblock extra_js %}
