{% extends "layouts/base.html" %}

{% load static i18n %}

{% block title %}
  Ventanita | Pasajes de micro
{% endblock title %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}
  <article class="container col-12 col-xl-9">
    <h1 class="display-1 text-center">Bus</h1>
    <section class="py-3 py-md-5">

      {% include 'includes/search_form.html' %}

    </section>
    <section class="py-3">
      <h2 class="fs-5 pb-3">Destinos Populares</h2>
      <div class="row row-cols-2 row-cols-sm-3 row-cols-md-6">
        <div class="col">
          <div class="card card-plain">
            <img src="{% static 'assets/img/stock/encarnacion.avif' %}"
                 alt="Encarnación"
                 loading="lazy"
                 class="img-fluid shadow-xl rounded" />
            <div class="ps-1 pt-1">
              <a href="#" class="card-title text-sm stretched-link">Encarnación</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card-plain">
            <img src="{% static 'assets/img/stock/asuncion.avif' %}" alt="Asunción" loading="lazy" class="img-fluid shadow-xl rounded" />
            <div class="ps-1 pt-1">
              <a href="#" class="card-title text-sm stretched-link">Asunción</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card-plain">
            <img src="{% static 'assets/img/stock/buenos-aires.avif' %}"
                 alt="Buenos Aires"
                 loading="lazy"
                 class="img-fluid shadow-xl rounded" />
            <div class="ps-1 pt-1">
              <a href="#" class="card-title text-sm stretched-link">Buenos Aires</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card-plain">
            <img src="{% static 'assets/img/stock/ciudad-del-este.avif' %}"
                 alt="Ciudad Del Este"
                 loading="lazy"
                 class="img-fluid shadow-xl rounded" />
            <div class="ps-1 pt-1">
              <a href="#" class="card-title text-sm stretched-link">Ciudad Del Este</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card-plain">
            <img src="{% static 'assets/img/stock/pedro-juan-caballero.avif' %}"
                 alt="Pedro Juan Caballero"
                 loading="lazy"
                 class="img-fluid shadow-xl rounded" />
            <div class="ps-1 pt-1">
              <a href="#" class="card-title text-sm stretched-link">Pedro Juan Caballero</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card-plain">
            <img src="{% static 'assets/img/stock/iguazu.avif' %}" alt="Iguazu" loading="lazy" class="img-fluid shadow-xl rounded" />
            <div class="ps-1 pt-1">
              <a href="#" class="card-title text-sm stretched-link">Iguazu</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="py-3">
      <h2 class="fs-5 pb-3">{% translate "Preguntas Frecuentes" %}</h2>
      <div class="accordion accordion-flush" id="accordionFAQ">
        <div class="accordion-item">
          <h3 class="accordion-header">
            <button class="accordion-button ps-0 collapsed font-weight-bold"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse1"
                    aria-expanded="false"
                    aria-controls="collapse1">¿Qué es Ventanita y cómo funciona?</button>
          </h3>
          <div id="collapse1" class="accordion-collapse collapse" data-bs-parent="#accordionFAQ">
            <div class="accordion-body ps-0">
              Ventanita es una plataforma de viajes en línea que te permite buscar, comparar y reservar boletos de
              micros de larga distancia en Paraguay. Nos asociamos con operadores de autobuses para ofrecerte las mejores rutas, horarios y precios.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header">
            <button class="accordion-button ps-0 collapsed font-weight-bold"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse2"
                    aria-expanded="false"
                    aria-controls="collapse2">¿Por qué debería usar Ventanita para reservar pasajes de micros?</button>
          </h3>
          <div id="collapse2" class="accordion-collapse collapse" data-bs-parent="#accordionFAQ">
            <div class="accordion-body ps-0">
              Ventanita simplifica la planificación de tu viaje al brindar una plataforma fácil de usar para consultar rutas, comparar precios y comprar boletos, todo en un solo lugar.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header">
            <button class="accordion-button ps-0 collapsed font-weight-bold"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse3"
                    aria-expanded="false"
                    aria-controls="collapse3">¿Ventanita es una empresa de micros oficial?</button>
          </h3>
          <div id="collapse3" class="accordion-collapse collapse" data-bs-parent="#accordionFAQ">
            <div class="accordion-body ps-0">
              No, Ventanita no es un operador de autobuses. Trabajamos como una agencia de viajes en línea,
              conectándote con empresas de autobuses confiables en toda Paraguay.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header">
            <button class="accordion-button ps-0 collapsed font-weight-bold"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse4"
                    aria-expanded="false"
                    aria-controls="collapse4">¿Cómo reservo un pasaje de micro en Ventanita?</button>
          </h3>
          <div id="collapse4" class="accordion-collapse collapse" data-bs-parent="#accordionFAQ">
            <div class="accordion-body ps-0">
              Para reservar un pasaje, ingresa las ciudades de salida y llegada, selecciona la fecha de viaje y elige entre las opciones de autobús disponibles. Completa el pago y recibirás tu boleto por correo electrónico.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header">
            <button class="accordion-button ps-0 collapsed font-weight-bold"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse5"
                    aria-expanded="false"
                    aria-controls="collapse5">
              ¿Puedo cancelar o modificar mi pasaje de micro después de la reserva?
            </button>
          </h3>
          <div id="collapse5" class="accordion-collapse collapse" data-bs-parent="#accordionFAQ">
            <div class="accordion-body ps-0">
              La cancelación y modificación de pasajes depende de las políticas del operador de micro. Consulta la política de cancelación al momento de realizar la reserva o contáctanos para recibir asistencia.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header">
            <button class="accordion-button ps-0 collapsed font-weight-bold"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse6"
                    aria-expanded="false"
                    aria-controls="collapse6">¿Qué métodos de pago acepta Ventanita?</button>
          </h3>
          <div id="collapse6" class="accordion-collapse collapse" data-bs-parent="#accordionFAQ">
            <div class="accordion-body ps-0">
              Aceptamos varios métodos de pago, incluidas tarjetas de crédito, tarjetas de débito y opciones de pago en
              línea comunes en Paraguay.
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="py-3">
      <h2 class="fs-5 pb-3 text-center">Ventanita - Tu Travel Partner</h2>
      <p class="text-sm text-center">
        En Ventanita, te ofrecemos una plataforma sencilla y segura para la compra de pasajes de micros en Argentina y
        Paraguay.
        Con nuestra amplia variedad de opciones de rutas, podrás planificar tu próximo viaje con facilidad.
        Desde Buenos Aires hasta el norte, sur y oeste del país, selecciona entre las principales empresas de transporte,
        compara precios y horarios, y adquiere tus boletos en solo unos clics.
      </p>
      <p class="text-sm text-center">
        Descubre destinos como Asuncion, Encarnacion,
        Buenos Aires y muchos más, y viaja cómodamente a precios competitivos.
      </p>
      <p class="text-sm text-center">
        Además de la compra de pasajes, en Ventanita también encontrarás información detallada sobre las empresas de colectivos
        y sus servicios, como las comodidades a bordo, políticas de equipaje, y promociones especiales. Si eres un viajero
        frecuente, consulta nuestras opciones de billetes flexibles y descuentos para grupos. Accede a nuestra plataforma desde
        cualquier dispositivo, ya sea para reservar tu viaje o para obtener detalles sobre los horarios y las mejores
        conexiones de bus entre las principales ciudades de Paraguay y Argentina.
      </p>
    </section>
  </article>
{% endblock content %}

{% block footer %}

  {% include "includes/footer-grand.html" %}

{% endblock footer %}

{% block extra_js %}
  <script defer src="{% static 'assets/js/autocomplete.min.js' %}"></script>
  <script defer src="{% static 'assets/js/flatpickr.min.js' %}"></script>
  <script defer src="{% static 'assets/js/es.js' %}"></script>
  <script defer src="{% static 'assets/js/search.js' %}"></script>
{% endblock extra_js %}
