{% load static i18n wagtailcore_tags wagtailimages_tags  wagtailuserbar %}

{% image page.social_image original as tmp_photo %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    {% if page.canonical_url %}<link rel="canonical" href="{{ page.canonical_url }}" />{% endif %}
    <title>

      {% block title %}
        {% firstof page.seo_title page.title %} | Ventanita
      {% endblock %}

    </title>
    {% if page.search_description %}<meta name="description" content="{{ page.search_description }}" />{% endif %}
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <meta name="Copyright" content="Ventanita Team" />
    <meta name="author" content="Ventanita Team" />
    <meta name="color-scheme" content="light dark" />
    <meta property="theme-color" content="#ffffff" />

    {% block og_tags %}
      <meta property="og:title" content="{% firstof page.seo_title page.title "Pasajes de Micro" %}" />
      <meta property="og:url" content="{{ page.get_full_url }}" />
      <meta property="og:type" content="article" />
      <meta property="og:description" content="{{ page.search_description }}" />
      <meta property="og:image" content="{{ tmp_photo.full_url }}" />
      <meta property="og:image:alt" content="{{ tmp_photo.alt }}" />
      <meta property="og:image:width" content="{{ tmp_photo.width }}" />
      <meta property="og:image:height" content="{{ tmp_photo.height }}" />
      <meta property="og:image:type" content="image/jpg" />
      <meta property="og:site_name" content="Ventanita" />
      <meta property="og:locale" content="{{ LANGUAGE_CODE }}" />
      <meta property="article:published_time" content="{{ page.first_published_at|date:"c" }}" />
      <meta property="article:modified_time" content="{{ page.latest_revision_created_at|date:"c" }}" />
      <meta property="twitter:card" content="summary_large_image" />
      <meta property="twitter:creator" content="@Ventanita" />
      <meta property="twitter:site" content="@Ventanita" />
      <meta name="twitter:title" content="{% firstof page.seo_title page.title %}" />
      <meta name="twitter:image" content="{{ tmp_photo.full_url }}" />
      <meta name="twitter:description" content="{{ page.search_description }}" />
    {% endblock og_tags %}

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/logos/apple-touch-icon.png' %}" />
    <meta name="apple-mobile-web-app-title" content="Ventanita" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta property="apple-mobile-web-app-status-bar-style" content="default" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/logos/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/logos/favicon-16x16.png' %}" />
    <link rel="manifest" href="{% static 'assets/img/logos/site.webmanifest' %}" />
    <link rel="mask-icon" href="{% static 'assets/img/logos/safari-pinned-tab.svg' %}" color="#5bbad5" />
    <link rel="shortcut icon" href="{% static 'assets/img/logos/favicon.ico' %}" />
    <link rel="icon" href="{% static "assets/img/logos/ventanita.svg" %}" sizes="any" type="image/svg+xml" />
    {# Force all links in the live preview panel to be opened in a new tab #}
    {% if request.in_preview_panel %}<base target="_blank" />{% endif %}
    {% if not debug %}
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-MZEYNLZLPE"></script>
      <script>
           window.dataLayer = window.dataLayer || [];

           function gtag() {
                dataLayer.push(arguments);
           }
           gtag('js', new Date());

           gtag('config', 'G-MZEYNLZLPE');
      </script>
    {% endif %}
    {# Global stylesheets #}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/styles.min.css' %}" />

    {% block extra_css %}
    {% endblock extra_css %}

    {# Href Lang Attributes #}
    {% if page %}
      <link rel="alternate" hreflang="x-default" href="{{ page.get_default_locale_url }}" />
      <link rel="alternate" hreflang="{{ LANGUAGE_CODE }}" href="{{ page.full_url }}" />
      {% for translation in page.get_translations.live %}
        {% get_language_info for translation.locale.language_code as lang %}
        <link rel="alternate" hreflang="{{ lang.code }}" href="{% fullpageurl translation %}" />
      {% endfor %}
    {% endif %}
  </head>
  {# djlint:off #}
  <body class="{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock body_class %}">
    {% wagtailuserbar %}

    {% block header %}{% include "includes/navigation.html" %}{% endblock header %}
    {% block messages %}{% include "includes/messages.html" %}{% endblock messages %}

    <main class="mt-7">{% block content %}{% endblock content %}</main>

    {% block modal %}{% endblock modal %}
    {% block footer %}{% endblock footer %}

    <script src="{% static "assets/js/bootstrap.bundle.min.js" %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/main.js' %}"></script>

    {% block extra_js %}{% endblock extra_js %}
  </body>
  {# djlint:on #}
</html>
