{% extends "layouts/base.html" %}

{% load i18n static %}

{% block title %}
  Pago Exitoso
{% endblock title %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col col-md-6 col-xl-4 mx-auto">
        <div class="card">
          <div class="card-header mx-auto">
            <svg class="bi text-success" fill="currentColor" width="64" height="64" aria-hidden="true" role="img" aria-label="Success:">
              <use xlink:href="{% static 'assets/icons/icons.svg' %}#check-circle-fill" />
            </svg>
          </div>
          <div class="card-body p-3 text-center">
            <h4>{% translate "Pago Exitoso!" %}</h4>
          </div>
        </div>
        <div class="alert alert-success mt-3" role="alert">
          <h5 class="alert-heading">{% translate "Pasajes Reservados!" %}</h5>
          <p>{% translate "Hemos enviados los pasajes a " %} gurupratap.matharu@gmail.com</p>
        </div>
        <div class="row">
          <div class="col-md-6">
            <a href="{% if order %}{{ order.get_ticket_url }}{% endif %}" target="_blank">
              <div class="card h-100">
                <div class="card-header mx-auto">
                  <svg class="bi" width="32" height="32" fill="currentColor" aria-hidden="true">
                    <use xlink:href="{% static 'assets/icons/icons.svg' %}#download" />
                  </svg>
                </div>
                <div class="card-body pt-0 p-3 text-center">
                  <h6 class="text-center mb-0">{% translate "Descargar PDF" %}</h6>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-6 mt-md-0 mt-4">
            <a href="{{ calendar_link }}" target="_blank">
              <div class="card">
                <div class="card-header mx-auto">
                  <svg class="bi" width="32" height="32" fill="currentColor" aria-hidden="true">
                    <use xlink:href="{% static 'assets/icons/icons.svg' %}#calendar4-week" />
                  </svg>
                </div>
                <div class="card-body pt-0 p-3 text-center">
                  <h6 class="text-center mb-0">{% translate "Agregar al calendario" %}</h6>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="card mt-3">
          <div class="card-body text-center">
            <a class="icon-link icon-link-hover mt-3" href="/">{% translate "Reserva otro pasaje" %}
              <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
                <use xlink:href="{% static 'assets/icons/icons.svg' %}#chevron-right" />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
