{% load i18n %}

<h2 class="fs-5 pb-3">{% translate "Consejos a pasajeros" %}</h2>
<ul>
  <li>{% translate "Compra tu pasaje con anticipación, especialmente en temporada alta y feriados." %}</li>
  <li>{% translate "Preséntate en la terminal al menos 30 minutos antes de la salida del bus" %}</li>
  <li>{% translate "Lleva tu documentación en regla si viajas a Argentina u otros destinos internacionales." %}</li>
  <li>{% translate "Consulta los horarios actualizados en Ventanita antes de viajar." %}</li>
  <li>{% translate "Mantén una copia digital de tus documentos importantes" %}</li>
</ul>
