{% load i18n static %}

<h2 class="fs-5 pb-3">{% translate "Empresas destacadas" %}</h2>
<div class="row align-items-center gy-3">
  <div class="col-4 col-sm-3 col-lg-2">
    <a href="/empresas-de-bus/nuestra-senora-de-la-asuncion/">
      <img class="img-fluid"
           loading="lazy"
           src="{% static 'assets/img/company-logos/logo-nsa.avif' %}"
           title="Nuestra Señora de la Asunción"
           alt="Logo of Nuestra Senora de la Asunción" />
    </a>
  </div>
  <div class="col-4 col-sm-3 col-lg-2">
    <a href="/empresas-de-bus/crucero-del-este/">
      <img class="img-fluid"
           loading="lazy"
           src="{% static 'assets/img/company-logos/logo-crucero-del-este.avif' %}"
           title="Crucero Del Este"
           alt="Logo of Crucero Del Este" />
    </a>
  </div>
  <div class="col-4 col-sm-3 col-lg-2">
    <a href="/empresas-de-bus/guariena/">
      <img class="img-fluid"
           loading="lazy"
           src="{% static 'assets/img/company-logos/logo-guairena.avif' %}"
           title="Guairena"
           alt="Logo of Guairena" />
    </a>
  </div>
  <div class="col-4 col-sm-3 col-lg-2">
    <a href="/empresas-de-bus/rio-paraguay/">
      <img class="img-fluid"
           loading="lazy"
           src="{% static 'assets/img/company-logos/logo-rio-paraguay.avif' %}"
           title="Rio Paraguay"
           alt="Logo of Rio Paraguay" />
    </a>
  </div>
  <div class="col-4 col-sm-3 col-lg-2">
    <a href="/empresas-de-bus/la-santaniana/">
      <img class="img-fluid"
           loading="lazy"
           src="{% static 'assets/img/company-logos/logo-la-santaniana.avif' %}"
           title="La Santaniana"
           alt="Logo of La Santaniana" />
    </a>
  </div>
  <div class="col-4 col-sm-3 col-lg-2">
    <a href="/empresas-de-bus/golondrina/">
      <img class="img-fluid"
           loading="lazy"
           src="{% static 'assets/img/company-logos/logo-nasa.avif' %}"
           title="Nasa Golondrina"
           alt="Logo of Nasa Golondrina" />
    </a>
  </div>
</div>
