{% load static i18n wagtailcore_tags %}

<footer class="footer">
  <div class="container">
    <div class="row py-5">
      <div class="col-12 col-md-10 mx-auto">
        <h2 class="fs-5 pb-3">Explorá Micros</h2>
        <div class="accordion accordion-flush" id="accordionLinks">
          <div class="accordion-item">
            <h3 class="accordion-header">
              <button class="accordion-button collapsed fw-bold ps-0"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseRoutes"
                      aria-expanded="false"
                      aria-controls="flush-collapseRoutes">Rutas Populares en Paraguay</button>
            </h3>
            <div id="flush-collapseRoutes" class="accordion-collapse collapse" data-bs-parent="#accordionLinks">
              <div class="accordion-body ps-0">
                <div class="row row-cols-1 row-cols-md-4 g-2 text-sm">
                  <div class="col">
                    <a href="#">Micro de Asunción a Encarnación</a>
                  </div>
                  <div class="col">
                    <a href="#">Micro de Asunción a Ciudad Del Este</a>
                  </div>
                  <div class="col">
                    <a href="#">Micro de Asunción a Buenos Aires</a>
                  </div>
                  <div class="col">
                    <a href="#">Micro de Asunción a Concepción</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h3 class="accordion-header">
              <button class="accordion-button collapsed fw-bold ps-0"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseDestinations"
                      aria-expanded="false"
                      aria-controls="flush-collapseDestinations">Destinos Populares en Paraguay</button>
            </h3>
            <div id="flush-collapseDestinations" class="accordion-collapse collapse" data-bs-parent="#accordionLinks">
              <div class="accordion-body ps-0">
                <div class="row row-cols-1 row-cols-md-4 g-2 text-sm">
                  <div class="col">
                    <a href="/pasajes-de-micro/pasajes-a-asuncion/">Pasajes a Asunción</a>
                  </div>
                  <div class="col">
                    <a href="/pasajes-de-micro/pasajes-a-ciudad-del-este/">Pasajes a Ciudad Del Este</a>
                  </div>
                  <div class="col">
                    <a href="/pasajes-de-micro/pasajes-a-encarnacion/">Pasajes a Encarnación</a>
                  </div>
                  <div class="col">
                    <a href="/pasajes-de-micro/pasajes-a-concepcion/">Pasajes a Concepción</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 mb-4 ms-auto">
        <a href="/" class="h6 text-primary text-gradient">Ventanita</a>
        <div>
          <ul class="d-flex flex-row ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link pe-1"
                 target="_blank"
                 href="https://www.facebook.com/profile.php?id=61565586036921"
                 title="Facebook"
                 rel="noreferrer">
                <svg class="bi opacity-8" width="16" height="16" fill="currentColor" aria-hidden="true">
                  <use xlink:href="{% static 'assets/icons/icons.svg' %}#facebook" />
                </svg>
                <span class="visually-hidden">Facebook</span>
                <span class="visually-hidden">(opens in new tab)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link pe-1" target="_blank" href="https://x.com/VentanitaARG" rel="noreferrer">
                <svg class="bi opacity-8" width="16" height="16" fill="currentColor" aria-hidden="true">
                  <use xlink:href="{% static 'assets/icons/icons.svg' %}#twitter" />
                </svg>
                <span class="visually-hidden">Twitter</span>
                <span class="visually-hidden">(opens in new tab)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link pe-1" target="_blank" href="https://instagram.com" rel="noreferrer">
                <svg class="bi opacity-8" width="16" height="16" fill="currentColor" aria-hidden="true">
                  <use xlink:href="{% static 'assets/icons/icons.svg' %}#instagram" />
                </svg>
                <span class="visually-hidden">Instagram</span>
                <span class="visually-hidden">(opens in new tab)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link pe-1" target="_blank" href="https://youtube.com" rel="noreferrer">
                <svg class="bi opacity-8" width="16" height="16" fill="currentColor" aria-hidden="true">
                  <use xlink:href="{% static 'assets/icons/icons.svg' %}#youtube" />
                </svg>
                <span class="visually-hidden">Youtube</span>
                <span class="visually-hidden">(opens in new tab)</span>
              </a>
            </li>
          </ul>
          <div class="d-flex mt-3 mb-2">
            <form action="{% url 'set_language' %}" method="post">
              {% csrf_token %}
              <input name="next" type="hidden" value="{{ redirect_to }}" />
              <div class="input-group input-group-sm mb-3">
                <select name="language" class="form-select form-select-sm bg-transparent" aria-label="Change language">
                  {% get_current_language as LANGUAGE_CODE %}
                  {% get_available_languages as LANGUAGES %}
                  {% get_language_info_list for LANGUAGES as languages %}
                  {% for language in languages %}
                    <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}selected{% endif %}>
                      {{ language.name }}
                    </option>
                  {% endfor %}
                </select>
                <button class="btn btn-outline-primary mb-0" type="submit">Go</button>
              </div>
            </form>
          </div>
          <p class="text-sm">
            <a href="https://ventanita.com.ar" class="me-2">Argentina</a>
            <a href="https://ventanita.com.py">Paraguay</a>
          </p>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6 mb-4">
        <div>
          <h6 class="text-gradient text-primary text-sm">{% translate "Empresa" %}</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link" href="/about/">{% translate "Sobre Ventanita" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blog/">{% translate "Blog" %}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6 mb-4">
        <div>
          <h6 class="text-gradient text-primary text-sm">{% translate "Info Útil" %}</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link" href="/terminales-de-omnibus/">{% translate "Terminales" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/empresas-de-bus/">{% translate "Empresas de Bus" %}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6 mb-4">
        <div>
          <h6 class="text-gradient text-primary text-sm">{% translate "Soporte y Ayuda" %}</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link" href="/contact/">{% translate "Contacto" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ayuda/">{% translate "Ayuda" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/feedback/">{% translate "Comentarios" %}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6 mb-4 me-auto">
        <div>
          <h6 class="text-gradient text-primary text-sm">{% translate "Enlaces Útiles" %}</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link" href="/condiciones-generales/">{% translate "Condiciones Generales" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/politicas-de-privacidad/">{% translate "Politicas de Privacidad" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sitemap/">{% translate "Sitemap" %}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12">
        <div class="text-center">
          <p class="mt-4 nav-link">
            {% translate "Todos los derechos reservados. Copyright ©" %}
            <script>
                 document.write(new Date().getFullYear());
            </script>
            {% translate "Made with ❤️ in Paraguay 🇵🇾" %}
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
