<nav class="navbar navbar-expand-lg shadow-none bg-white fixed-top">
  <div class="container">
    <a class="navbar-brand h1 mb-0" href="/">Ventanita</a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Ventanita</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav ms-auto align-items-center">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_logout' %}">Log Out</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link me-2" href="{% url 'account_login' %}">Log In</a>
            </li>
            <li class="nav-item">
              <a class="btn bg-gradient-primary btn-sm btn-round mb-0" href="{% url 'account_signup' %}">Sign Up</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>
