{% load static i18n %}

<header>
  <a href="#main-content" class="skip-link">Skip to main content</a>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand fw-bold" href="/">Ventanita</a>
      <button class="navbar-toggler"
              type="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasNavbar"
              aria-controls="offcanvasNavbar"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
            <a class="link-dark" href="/">Ventanita</a>
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1">
            <div class="d-md-none">
              <li class="nav-item">
                <a class="nav-link" href="/terminales-de-omnibus/">
                  <svg class="bi me-1" width="16" height="16" fill="currentColor" aria-hidden="true">
                    <use xlink:href="{% static 'assets/icons/icons.svg' %}#geo" />
                  </svg>
                {% translate "Terminales" %}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/empresas-de-bus/">
                  <svg class="bi me-1" width="16" height="16" fill="currentColor" aria-hidden="true">
                    <use xlink:href="{% static 'assets/icons/icons.svg' %}#gem" />
                  </svg>
                {% translate "Empresas" %}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact/">
                  <svg class="bi me-1" width="16" height="16" fill="currentColor" aria-hidden="true">
                    <use xlink:href="{% static 'assets/icons/icons.svg' %}#telephone-outbound" />
                  </svg>
                {% translate "Contacto" %}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/feedback/">
                  <svg class="bi me-1" width="16" height="16" fill="currentColor" aria-hidden="true">
                    <use xlink:href="{% static 'assets/icons/icons.svg' %}#chat-left-dots" />
                  </svg>
                {% translate "Comentarios" %}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/blog/">
                  <svg class="bi me-1" width="16" height="16" fill="currentColor" aria-hidden="true">
                    <use xlink:href="{% static 'assets/icons/icons.svg' %}#compass-fill" />
                  </svg>
                {% translate "Blog" %}</a>
              </li>
            </div>
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account_logout' %}">Log Out</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link me-2" href="{% url 'account_login' %}">Log In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
