{% load i18n static %}

<div class="row">
  <div class="col border-radius-xl py-3 shadow-xl">
    <form action="/trips/" method="get" autocomplete="on">
      <div class="row gx-md-3 mb-1 mb-md-3">
        <div class="col-7 col-sm-4 col-lg-2">
          <select class="form-select bg-transparent" name="trip_type" id="trip_type" aria-label="Trip type" required>
            <option value="one_way" selected>{% translate "Solo Ida" %}</option>
            <option value="round_trip">{% translate "Ida y Vuelta" %}</option>
          </select>
        </div>
        <div class="col-5 col-sm-4 col-lg-2">
          <select class="form-select bg-transparent"
                  name="num_of_passengers"
                  id="num_of_passengers"
                  aria-label="Num of passengers"
                  required>
            {% for i in '12345'|make_list %}
              <option value="{{ i }}" {% if request.session.q.num_of_passengers == i %}selected{% endif %}>Pasajeros {{ i }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="row gx-1 gx-md-3">
        <div class="col-12 col-md-3">
          <div class="form-group mb-1 mb-md-3">
            <label for="origin" class="form-label">{% translate "Origen" %}</label>
            <input name="origin" id="originId" type="hidden" />
            <input class="form-control"
                   type="search"
                   data-for="originId"
                   autocorrect="off"
                   autocapitalize="off"
                   autocomplete="off"
                   spellcheck="false"
                   id="origin"
                   value="{{ request.session.q.origin }}"
                   placeholder='{% translate "¿Desde Donde?" %}'
                   required />
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="form-group mb-1 mb-md-3">
            <label for="destination" class="form-label">{% translate "Destino" %}</label>
            <input name="destination" id="destinationId" type="hidden" />
            <input class="form-control"
                   type="search"
                   data-for="destinationId"
                   autocorrect="off"
                   autocapitalize="off"
                   autocomplete="off"
                   spellcheck="false"
                   id="destination"
                   value="{{ request.session.q.destination }}"
                   placeholder='{% translate "¿A donde queres ir?" %}'
                   required />
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="form-group mb-1 mb-md-3">
            <label for="departure" class="form-label">{% translate "Salida" %}</label>
            <label for="flat-departure" class="form-label visually-hidden">{% translate "Salida" %}</label>
            <input class="form-control form-control-lg departure-date bg-white"
                   type="text"
                   name="departure"
                   id="departure"
                   autocorrect="off"
                   autocapitalize="off"
                   autocomplete="off"
                   spellcheck="false"
                   maxlength="2048"
                   value="{{ request.session.q.departure }}"
                   required />
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="form-group mb-3">
            <label for="return" class="form-label">{% translate "Retorno (Opcional)" %}</label>
            <label for="flat-return" class="form-label visually-hidden">{% translate "Retorno (Opcional)" %}</label>
            <input class="form-control form-control-lg return-date bg-white"
                   type="text"
                   name="return"
                   id="return"
                   autocorrect="off"
                   autocapitalize="off"
                   autocomplete="off"
                   spellcheck="false"
                   maxlength="2048"
                   value="{{ request.session.q.return }}" />
          </div>
        </div>
        <input class="form-control form-control-lg bg-white"
               type="hidden"
               name="company"
               autocorrect="off"
               autocapitalize="off"
               autocomplete="off"
               spellcheck="false"
               maxlength="2048"
               value="{{ company.slug }}" />
      </div>
      <div class="d-flex justify-content-center mb-n5">
        <button class="btn bg-gradient-primary btn-round" type="submit">
          <svg class="bi me-2" width="16" height="16" fill="currentColor" aria-hidden="true">
            <use xlink:href="{% static 'assets/icons/icons.svg' %}#search" />
          </svg>
          {% translate "Buscar" %}
        </button>
      </div>
    </form>
  </div>
</div>
