<div class="container">
  <div class="row py-5">
    <div class="col-12 col-lg-10 mx-auto">
      <h2 class="fs-5 pb-3">Explorá Micros</h2>
      <div class="accordion accordion-flush" id="accordionLinks">
        <div class="accordion-item">
          <h3 class="accordion-header">
            <button class="accordion-button collapsed fw-bold ps-0"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseRoutes"
                    aria-expanded="false"
                    aria-controls="flush-collapseRoutes">Rutas Populares en Paraguay</button>
          </h3>
          <div id="flush-collapseRoutes" class="accordion-collapse collapse" data-bs-parent="#accordionLinks">
            <div class="accordion-body ps-0">
              <div class="row row-cols-1 row-cols-md-4 g-2 text-sm">
                <div class="col">
                  <a href="#">Micro de Asunción a Encarnación</a>
                </div>
                <div class="col">
                  <a href="#">Micro de Asunción a Ciudad Del Este</a>
                </div>
                <div class="col">
                  <a href="#">Micro de Asunción a Buenos Aires</a>
                </div>
                <div class="col">
                  <a href="#">Micro de Asunción a Concepción</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header">
            <button class="accordion-button collapsed fw-bold ps-0"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseDestinations"
                    aria-expanded="false"
                    aria-controls="flush-collapseDestinations">Destinos Populares en Paraguay</button>
          </h3>
          <div id="flush-collapseDestinations" class="accordion-collapse collapse" data-bs-parent="#accordionLinks">
            <div class="accordion-body ps-0">
              <div class="row row-cols-1 row-cols-md-4 g-2 text-sm">
                <div class="col">
                  <a href="/pasajes-de-micro/pasajes-a-asuncion/">Pasajes a Asunción</a>
                </div>
                <div class="col">
                  <a href="/pasajes-de-micro/pasajes-a-ciudad-del-este/">Pasajes a Ciudad Del Este</a>
                </div>
                <div class="col">
                  <a href="/pasajes-de-micro/pasajes-a-encarnacion/">Pasajes a Encarnación</a>
                </div>
                <div class="col">
                  <a href="/pasajes-de-micro/pasajes-a-concepcion/">Pasajes a Concepción</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
