<div class="container">
  <h2 class="fs-5 pb-3">Explorá Micros</h2>
  <div class="accordion accordion-flush" id="accordionLinks">
    <div class="accordion-item">
      <h3 class="accordion-header">
        <button class="accordion-button collapsed fw-bold ps-0"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseRoutes"
                aria-expanded="false"
                aria-controls="flush-collapseRoutes">Terminales de Ómnibus</button>
      </h3>
      <div id="flush-collapseRoutes" class="accordion-collapse collapse" data-bs-parent="#accordionLinks">
        <div class="accordion-body ps-0">
          <div class="row row-cols-1 row-cols-md-4 g-2 text-sm">
            <div class="col">
              <a href="/terminales-de-omnibus/terminal-de-ciudad-del-este/">Terminal de Ciudad del Este</a>
            </div>
            <div class="col">
              <a href="/terminales-de-omnibus/terminal-de-coronel-oviedo/">Terminal de Coronel Oviedo</a>
            </div>
            <div class="col">
              <a href="/terminales-de-omnibus/terminal-de-hernandarias/">Terminal de Hernandarias</a>
            </div>
            <div class="col">
              <a href="/terminales-de-omnibus/terminal-de-caaguazu/">Terminal de Caaguazú</a>
            </div>
            <div class="col">
              <a href="/terminales-de-omnibus/terminal-de-filadelfia/">Terminal de Filadelfia</a>
            </div>
            <div class="col">
              <a href="/terminales-de-omnibus/terminal-de-caacupe/">Terminal de Caacupé</a>
            </div>
            <div class="col">
              <a href="/terminales-de-omnibus/terminal-de-santani/">Terminal de Santaní</a>
            </div>
            <div class="col">
              <a href="/terminales-de-omnibus/terminal-de-caazapa/">Terminal de Caazapá</a>
            </div>
            <div class="col">
              <a href="/terminales-de-omnibus/terminal-de-juan-emilio-oleary/">Terminal de J.M.Oleary</a>
            </div>
            <div class="col">
              <a href="/terminales-de-omnibus/terminal-de-pedro-juan-caballero/">Terminal de Pedro Juan Caballero</a>
            </div>
            <div class="col">
              <a href="/terminales-de-omnibus/terminal-de-horqueta/">Terminal de Horqueta</a>
            </div>
            <div class="col">
              <a href="/terminales-de-omnibus/terminal-de-maria-auxiliadora/">Terminal de Maria Auxiliadora</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h3 class="accordion-header">
        <button class="accordion-button collapsed fw-bold ps-0"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseDestinations"
                aria-expanded="false"
                aria-controls="flush-collapseDestinations">Empresas de Bus</button>
      </h3>
      <div id="flush-collapseDestinations" class="accordion-collapse collapse" data-bs-parent="#accordionLinks">
        <div class="accordion-body ps-0">
          <div class="row row-cols-1 row-cols-md-4 g-2 text-sm">
            <div class="col">
              <a href="/empresas-de-bus/la-yutena/">La Yuteña</a>
            </div>
            <div class="col">
              <a href="/empresas-de-bus/sol-del-paraguay/">Sol del Paraguay</a>
            </div>
            <div class="col">
              <a href="/empresas-de-bus/rio-internacional/">Rio Internacional</a>
            </div>
            <div class="col">
              <a href="/empresas-de-bus/canindeyu/">Canindeyú</a>
            </div>
            <div class="col">
              <a href="/empresas-de-bus/la-ovetense/">La Ovetense</a>
            </div>
            <div class="col">
              <a href="/empresas-de-bus/expreso-guarani/">Expreso Guaraní</a>
            </div>
            <div class="col">
              <a href="/empresas-de-bus/rio-paraguay/">Rio Paraguay</a>
            </div>
            <div class="col">
              <a href="/empresas-de-bus/crucero-del-este/">Crucero del Este</a>
            </div>
            <div class="col">
              <a href="/empresas-de-bus/guariena/">Guariena</a>
            </div>
            <div class="col">
              <a href="/empresas-de-bus/el-tigre/">El Tigre</a>
            </div>
            <div class="col">
              <a href="/empresas-de-bus/ciudad-de-pilar/">Ciudad de Pilar</a>
            </div>
            <div class="col">
              <a href="/empresas-de-bus/golondrina/">Golondrina</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
