{% extends "layouts/base.html" %}

{% load static i18n wagtailcore_tags wagtailimages_tags %}

{% block title %}
  {{ page.title }}
{% endblock title %}

{% block content %}
  <div class="container">
    <div class="row">
      {% for post in posts %}
        {% with post=post.specific %}
          <div class="col-md-4 mt-4">
            <div class="card h-100">
              {% image post.image fill-400x300 class="card-img-top" %}
              <div class="card-body">
                <h5 class="card-title">
                  <a href="{% pageurl post %}">{{ post.title }}</a>
                </h5>
                <p class="card-text">{{ post.intro|truncatechars:120 }}</p>
                <a href="{% pageurl post %}" class="card-link icon-link icon-link-hover">{% translate "Leer" %}
                  <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
                    <use xlink:href="{% static 'assets/icons/icons.svg' %}#chevron-right" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        {% endwith %}
      {% empty %}
        <p class="display-6">{% translate "Aún no tenemos posts" %}"</p>
      {% endfor %}
    </div>
  </div>
{% endblock content %}

{% block footer %}
  {% include "includes/footer-grand.html" %}
{% endblock footer %}

{% block extra_js %}
  {# djlint:off #}
  <script type="application/ld+json">{{ page.ld_entity }}</script>
  {# djlint:on #}
{% endblock extra_js %}
