<div class="row">
  <div class="col-12 col-md-6 mb-3">
    <div class="card">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-10">
            <div class="numbers">
              <p class="text-sm mb-0 text-capitalize font-weight-bold">Phone</p>
              <h5 class="font-weight-bolder mb-0">
                <a href="tel:{{ self.phone }}" target="_blank">Call {{ self.phone }}</a>
              </h5>
            </div>
          </div>
          <div class="col-2 text-end">
            <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
              <i class="bi bi-telephone-inbound text-lg opacity-10" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 mb-3">
    <div class="card">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-10">
            <div class="numbers">
              <p class="text-sm mb-0 text-capitalize font-weight-bold">Whatsapp</p>
              <h5 class="font-weight-bolder mb-0">
                <a href="https://wa.me/{{ self.whatsapp }}" target="_blank">{{ self.whatsapp }}</a>
              </h5>
            </div>
          </div>
          <div class="col-2 text-end">
            <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
              <i class="bi bi-whatsapp text-lg opacity-10" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 mb-3">
    <div class="card">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-10">
            <div class="numbers">
              <p class="text-sm mb-0 text-capitalize font-weight-bold">Email</p>
              <h5 class="font-weight-bolder mb-0">
                <a href="mailto:{{ self.email }}" target="_blank">{{ self.email }}</a>
              </h5>
            </div>
          </div>
          <div class="col-2 text-end">
            <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
              <i class="bi bi-envelope-at text-lg opacity-10" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 mb-3">
    <div class="card">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-10">
            <div class="numbers">
              <p class="text-sm mb-0 text-capitalize font-weight-bold">Website</p>
              <h5 class="font-weight-bolder mb-0">
                <a href="{{ self.website }}" target="_blank">{{ self.website }}</a>
              </h5>
            </div>
          </div>
          <div class="col-2 text-end">
            <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
              <i class="bi bi-mailbox text-lg opacity-10" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
