<h2 class="fs-5 pb-3">{{ self.title }}</h2>
<ul class="nav nav-underline mb-3" id="myTab-{% lorem 1 w random %}" role="tablist">
  {% for element in self.item %}
    <li class="nav-item" role="presentation">
      <button class="nav-link
                     {% if forloop.first %}active{% endif %}"
              id="tab-{{ forloop.counter }}{% cycle 'A' 'B' 'C' 'D' 'E' as seed %}"
              data-bs-toggle="tab"
              data-bs-target="#tab-pane-{{ forloop.counter }}{{ seed }}"
              type="button"
              role="tab"
              aria-controls="tab-pane-{{ forloop.counter }}{{ seed }}"
              aria-selected="{% if forloop.first %}
                               true
                             {% else %}
                               false
                             {% endif %}">{{ element.title }}</button>
    </li>
  {% endfor %}
</ul>
<div class="tab-content" id="myTabContent-{% lorem 1 w random %}"">
  {% for element in self.item %}
    <div class="tab-pane fade
                {% if forloop.first %}show active{% endif %}"
         id="tab-pane-{{ forloop.counter }}{% cycle 'A' 'B' 'C' 'D' 'E' as seed %}"
         role="tabpanel"
         aria-labelledby="tab-{{ forloop.counter }}{{ seed }}"
         tabindex="0">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
        {% for link in element.item %}
          <div class="col mb-1">
            <a href={{ link.get_url }}>{{ link.get_title }}</a>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
