{% extends "layouts/base.html" %}

{% load static i18n %}

{% block title %}
  {% translate "Pagina no encontrada" %}
{% endblock title %}

{% block header %}
  {% include 'includes/navigation-basic.html' %}
{% endblock header %}

{% block body_class %}template-404{% endblock %}

{% block content %}
  <div class="container">
    <div class="row mt-3">
      <div class="col col-sm-10 col-md-8 col-lg-6 mx-auto">
        <div class="alert alert-light fade show" role="alert">
          <h4 class="alert-heading">{% translate "Página no encontrada." %}</h4>
          <hr />
          {% translate "Bueno, esto es incómodo. Parece que esa página ya no existe. Intenta buscar algo similar abajo." %}
        </div>
        <div class="d-flex flex-column text-center gap-3">
          <h3>{% translate "¿Como podemos ayudarte?" %}</h3>
          <form action="{% url 'search' %}" method="get" class="mb-3">
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">🔍</span>
              <input type="text"
                     class="form-control"
                     name="query"
                     value="{{ search_query }}"
                     placeholder="Buscar articulos"
                     aria-label="search"
                     aria-describedby="basic-addon1" />
            </div>
          </form>
          {% if not user.is_authenticated %}
            <h6>{% translate "Logueate para una experencia personalizada" %}</h6>
            <a href="{% url 'account_login' %}" class="btn w-50 mx-auto btn-round bg-gradient-primary">Log in</a>
            <a href="{% url 'account_reset_password' %}" class="text-sm link-dark">{% translate "¿Problemas con login?" %}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
