{% extends "layouts/base.html" %}

{% load static i18n wagtailcore_tags wagtailimages_tags %}

{% block title %}
  Article Feedback Form
{% endblock title %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col col-sm-8 col-md-6 mx-auto">
        <div class="card card-plain">
          <div class="card-header pb-0">
            <h3>{{ page.title }}</h3>
            <p class="mb-0">{{ page.body }}</p>
          </div>
          <form action="{% pageurl page %}"
                id="contact-form"
                method="post"
                autocomplete="off"
                {% if has_upload %}enctype="multipart/form-data"{% endif %}>
            {% csrf_token %}
            <div class="card-body pb-2">
              {{ form.non_field_errors }}
              <div class="row">
                {% for field in form.visible_fields %}
                  <div class="col-12 mb-1">
                    {{ field.label_tag }}
                    <div class="text-danger">{{ field.errors }}</div>
                    {{ field }}
                    <div class="form-text ms-2">{{ field.help_text|safe }}</div>
                  </div>
                {% endfor %}
              </div>
              <div class="card-footer pe-0 d-flex justify-content-end">
                <a href="{% url 'wagtail_serve' '' %}" class="btn me-2">Cancel</a>
                <button type="submit" class="btn bg-gradient-primary icon-link icon-link-hover">
                  {% translate "Send" %}
                  <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
                    <use xlink:href="{% static 'assets/icons/icons.svg' %}#chevron-right" />
                  </svg>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
